NEXT_PUBLIC_FIREBASE_API_KEY=mock-key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=mock-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=mock-project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=mock-project.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=mock-id
NEXT_PUBLIC_FIREBASE_APP_ID=mock-app-id

NEXT_PUBLIC_PBI_REPORT_ID=
NEXT_PUBLIC_PBI_EMBED_URL=
NEXT_PUBLIC_PBI_ACCESS_TOKEN=
