@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 11%;
    --foreground: 213 31% 91%;

    --primary: 222 47% 11%;
    --primary-foreground: 210 40% 98%;

    --card: 222 47% 11%;
    --card-foreground: 213 31% 91%;

    --popover: 222 47% 11%;
    --popover-foreground: 213 31% 91%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 224 76% 48%;

    --radius: 0.75rem;

    --font-jakarta: "Plus Jakarta Sans", sans-serif;
  }
}

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight font-bold;
  }
}

.glass-card {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
